<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title> Social network Animals</title>
</head>
<body>
  <div>
  <nav>
  <div class="nav-wrapper blue darken-4">
    <a href="" class="brand-logo"><i class="material-icons">pets</i>Social Network Animals</a>
    <ul id="nav-mobile" class="right">
      <li><a href="profile.html"><i class="material-icons">person</i></a></li>
      <li><a class="btn btn-floating btn-large pulse" href="messages.html"><i class="material-icons">email</i></a></li>
      <li><a href="../index.html"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</nav>
  <div class="row">
  <div class="col s4 m4 for-follow">
    <div class="row">
      <div class="col s10 m10">
        <h3 class="center-align">Asociaciones</h3>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header transparent">
              <img class="follow-images" src="../assets/images/adopta.jpg" alt="">
              </div>
            <div class="collapsible-body">
              <p>Asociación peludos</p>
              <a href="https://www.teaming.net/asociacionpeludos" class="waves-effect waves-light btn #8c9eff indigo accent-1">Visitar</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <img class="follow-images" src="../assets/images/images.jpg" alt="">
              </div>
            <div class="collapsible-body">
              <p>Asociación Callejeritos</p>
              <a href="https://www.quieroayudar.org/Ong/Asociacion-Civil-Callejeritos" class="waves-effect waves-light btn #8c9eff indigo accent-1">Visitar</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s5 m5 publications-friends">
    <div class="row">
      <div class="empty-row"></div>
      <div class="col s1 m1">
        <img class="user" src="../assets/images/adro.jpg" alt="">
      </div>
      <div class="col s10 m10 offset-s1 offset-m1 publication-friend">
        <p class="twitting"><span class="strong">Gaby:</span> Hola mundo!</p>
        <p class="time">Hora de la publicación: 2:28</p>
      </div>
    </div>
    <div class="row">
      <div class="empty-row"></div>
      <div class="col s1 m1">
        <img class="user" src="../assets/images/conejitos.jpg" alt="">
      </div>
      <div class="col s10 m10 offset-s1 offset-m1 publication-friend">
        <p class="twitting"><span class="strong">Sam:</span> Adopten!</p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Ek7fS3BGmcQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="time">Hora de la publicación: 2:28</p>
      </div>

    </div>
  </div>
  <div class="col s3 m3 adoption">
    <div class="row">
      <div class="col s10 m10">
        <h3 class="center-align">Adopta</h3>
        <ul class="collapsible transpa" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <img class="adopt-images circle" src="../assets/images/perrito2.jpg" alt="">
              </div>
            <div class="collapsible-body">
              <p>Nombre: Tobby</p>
              <p>Talla: mediana</p>
              <p>Edad: tres meses</p>
              <p>Raza: Labrador</p>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger  #8c9eff indigo accent-1" href="#modal1">Adopta!</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <img class="adopt-images circle" src="../assets/images/perrito3.jpg" alt="">
              </div>
            <div class="collapsible-body">
              <p>Nombre: Sugar</p>
              <p>Talla: mediana</p>
              <p>Edad: seis meses</p>
              <p>Raza: Mestizo</p>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger  #8c9eff indigo accent-1" href="#modal1">Adopta!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Social Network Animals</h5>
                <p class="grey-text text-lighten-4">Impulsando la adopción y el cuidado animal.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Páginas amigas</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.cdmx.gob.mx/vive-cdmx/post/hospital-veterinario">Hospital veterinario CDMX</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://emergenciaanimalvina.wordpress.com/">Emergencia animal</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.greenpeace.org/mexico/es/">Greenpeace México</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.institutoperro.com/home/maltrato-animal-mexico">Instituto perro</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="row">© 2014 Copyright Text</div>
          </div>
        </footer>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4 class="center-align">Solicitud de adopción</h4>
     <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="adress" type="text" class="validate">
          <label for="adress">Dirección</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="phone" type="tel" class="validate">
          <label for="phone">Teléfono</label>
        </div>
      </div>
      <a href="#!" class="modal-action modal-close waves-effect waves-green #8c9eff indigo accent-1 btn">Enviar</a>
      </div>

    </form>
  </div>

   </div>

 </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
